# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.venv/
Pipfile.lock

# Django-related
*.log
*.sqlite3
db.sqlite3
/media/
staticfiles/
static/
local_settings.py
.env

# Ignore the `migrations` folder (except for __init__.py)
**/migrations/*
!**/migrations/__init__.py

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS & Linux system files
.DS_Store
*.swp
